body {
  margin: 10% 0;
  padding: 0;
  background-repeat: no-repeat;
}

.title {
  text-align: center;
}

.container {
  height: 100%;
  display: grid;
  margin: 2% 15%;
  gap: 10px;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

img {
  max-width: 100%;
  height: auto;
}

.form-wrapper {
  margin-right: 100px;
}

.error-message {
  color: red;
}

.form-group input[type="text"],
input[type="number"],
[type="email"],
[type="password"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 100%;
  margin: 8px 0;
  padding: 10px 0;
}

input :hover {
  background-color: red;
}

button {
  color: #ffffff;
  background-color: #4caf50;
  height: 40px;
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  border-radius: 2%;
  outline: none;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #333333;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-wrapper {
    margin-right: 0;
  }
}
